@tailwind base;
@tailwind components;
@tailwind utilities;
html,body{width: 100%; height: 100%;}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*{margin: 0; padding: 0; font-family: SUITE-Regular;}

.wavify > div{height: 100%;}
.wavify:nth-child(3) > div{z-index: 5;}
.wavify:nth-child(2) > div{height: 80%;}

@media screen and (min-width: 1024px) { /* pc 버전일 때 */

  .swiper-pagination-fractions{padding-top: 20px; text-align: center;}

}
@media screen and (min-width: 768px) { /* tablet 버전일 때 */

  .swiper-pagination-fractions{padding-top: 40px; text-align: center;} 

}
@media screen and (max-width: 767px) { /* mobile 버전일 때 */

  .swiper-pagination-fractions{padding-top: 20px; text-align: center;}  
}

::selection { color:black; background:#E2F9DC; }